.bg{
background-color: #00cdb2;
color: white;
}
.bg1{
   background-color:rgb(62, 131, 224) ; 
   color: white;
}
.bg2{
    background-color:  rgb(27, 39, 53);
    color: white;
}
.brand1 :hover{
 fill: rgb(0, 204, 177);     
}
.brand1 :not(:hover){
    fill: gray;  
}
body{
    padding: 0;
    margin:0;
}
*{
    box-sizing: border-box;
}

